<h1>Listing emptests</h1>

<table>
  <thead>
    <tr>
      <th>Ecode</th>
      <th>Name</th>
      <th>Shift</th>
      <th>Sintime</th>
      <th>Aintime</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emptests.each do |emptest| %>
      <tr>
        <td><%= emptest.ecode %></td>
        <td><%= emptest.name %></td>
        <td><%= emptest.shift %></td>
        <td><%= emptest.sintime %></td>
        <td><%= emptest.aintime %></td>
        <td><%= link_to 'Show', emptest %></td>
        <td><%= link_to 'Edit', edit_emptest_path(emptest) %></td>
        <td><%= link_to 'Destroy', emptest, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<h3> Upload attendance </h3>

<%= form_tag import_emptests_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload Attendance" %>
<% end %>

<%= link_to 'New Emptest', new_emptest_path %>
